<h1>Take Me Out To The Ballgame! </h1>

	<ul>
		
	<% @stadiums.each do |s| %>
		<li>
		<%= s.name %>
		</li>
	<% end %>

	</ul>

	<!-- set up link to show stadiums  -->
	<!-- Let's go to the game "link_to" -->